.hidden {
    display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol {
    list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.container { 
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;  
}

@media screen and (min-width: 768px) {
  .container { 
  max-width: 768px; 
} 
}

@media screen and (min-width: 1158px) {
   .container { 
  max-width: 1158px; 
  padding: 0 15px;
}
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
}

.nav-list,
.contacts {
     display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
    
.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
 }

 .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
 }

 .burger-icon {
    display: block;
    fill: #2f2f37;
 }

 @media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    } 

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

     .header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        align-items: center;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
    }

    .contact-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts .contact-link:hover,
    .contacts .contact-link:focus,
    .header-nav .nav-link:hover, 
    .header-nav .nav-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
}


    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        padding: 24px 0;
    }  
    
    .contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/*mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0 ,0.2, 1),
    visibiliti 250ms cubic-bezier(0.4, 0 ,0.2, 1);
    }

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    }

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;  
    }

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    background-color: #f4f4fd;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-header-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    padding-bottom: 168px;
    margin-bottom: auto;
    }

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
    color: #404bbf;
    }

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    }

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    }

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    }

.mobile-contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-contacts .mobile-contact-link:hover,
.mobile-contacts .mobile-contact-link:focus,
.mobile-header-nav .mobile-nav-link:hover, 
.mobile-header-nav .mobile-nav-link:focus,
.mobile-nav-link.current {
    color: #404bbf;
    }

.mobile-social-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 16px;
    }

.mobile-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    width: 232px;
    height: 40px;
    padding-left: 16px;
    }

.mobile-social-links .mobile-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-links .mobile-social:hover, 
.mobile-social-links .mobile-social:focus {
    background-color: #404bbf;
}

.social-card {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
    display: none;
    }
}

.zone {
    max-width: 320px;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office1.jpg);
    padding: 188px 0;
    margin: 0 auto;
    padding: 72px 52px;
}

.zone-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.title-first {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
} 

.zone button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.zone .link:hover,
.zone .link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .zone {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
}

.zone-wrapper {
    margin-bottom: 36px;
}

.title-first {
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
} 
}

@media screen and (min-width: 1158px) {
    .zone {
    max-width: 1440px;
    padding: 188px 0;
}

.zone-wrapper {
    margin-bottom: 48px;
}
}

/*feachers*/
.card-box {
    display: none;
}

.features {
    margin: 92px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-paragraf {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        gap: 72px 24px;
    }

    .features-paragraf {
        text-align: start;
    } 

    .features-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-list {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);   
    }

    .card-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
    }

    .features-paragraf {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .text {
    font-weight: 400;
    }
}

.weare {
    background-color: #f4f4fd;
    display: flex;
    flex-wrap: wrap;
    padding: 96px 0;
}

.title-weare {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
    padding-bottom: 72px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.list-weare {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text-box {
    padding: 32px 16px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 232px;
    height: 40px;
}

.social-links .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .social:hover, 
.social-links .social:focus {
    background-color: #404bbf;
}

.social-card {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team {
        justify-content: center;
        gap: 64px 24px;
    }
}